asgiref==3.7.2
beautifulsoup4==4.12.2
Django==4.2.5
django-autocomplete-light==3.9.7
django-bootstrap-v5==1.0.11
django-bootstrap5==23.3
git+https://github.com/bmentges/django-cart
Pillow==10.1.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.7.1
gunicorn