{% extends "aintdoinit/base_template.html" %}
{% load color_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Headings for the cart -->
        <div class="col-2">Product</div>
        <div class="col-2">Size</div>
        <div class="col-1">Color</div>
        <div class="col-1">Price</div>
        <div class="col-2">Quantity</div>
        <div class="col-2">Subtotal</div>
        <div class="col-2">Actions</div>
    </div>
    {% for cart_item in cart_items %}
    <div class="row my-2 border-bottom pb-2">
        <!-- Product Image and Title -->
        <div class="col-2">
            <a href="{% url 'product-detail' cart_item.product_variation.product.id %}">
            <img src="{{ cart_item.product_variation.product.image.url }}" alt="{{ cart_item.product_variation.product.title }}" class="img-fluid" style="max-width: 50px;">
            </a>
            {{ cart_item.product_variation.product.title }}
        </div>
        <!-- Size -->
        <div class="col-2">
            {{ cart_item.product_variation.size }}
        </div>
        <!-- Color with Color Box -->
        <div class="col-1">
            {{ cart_item.product_variation.color }}
            <div style="width: 20px; height: 20px; background-color: {{ cart_item.product_variation.color.value|color_code }}; border: 1px solid #000;"></div>
        </div>
        <!-- Individual Price -->
        <div class="col-1">
            ${{ cart_item.product_variation.product.price }}
        </div>
        <!-- Quantity with Controls -->
        <div class="col-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <a href="{% url 'decrement_item' cart_item.product_variation.id %}" class="btn btn-outline-secondary">-</a>
                </div>
                <input type="text" class="form-control" value="{{ cart_item.quantity }}" readonly>
                <div class="input-group-append">
                    <a href="{% url 'increment_item' cart_item.product_variation.id %}" class="btn btn-outline-secondary">+</a>
                </div>
            </div>
        </div>
        <!-- Subtotal -->
        <div class="col-2">
            ${{ cart_item.subtotal }}
        </div>
        <!-- Remove Button -->
        <div class="col-2">
            <a href="{% url 'remove_from_cart' cart_item.product_variation.id %}" class="btn btn-danger btn-sm">Remove</a>
        </div>
    </div>
    {% endfor %}
    <div class="row mt-4">
        <div class="col-8"></div>
        <div class="col-2 font-weight-bold">Grand Total:</div>
        <div class="col-2">$ {{ grand_total }}</div>
    </div>
</div>
{% endblock %}