<!-- inherit from base.html-->
{% extends "aintdoinit/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>aintdoinit</h1>
<h2>active inaction</h2>
<h3>The fruition of a shared dream</h3>

{% comment %} <ul class="list-group">
{% for i in student_active_portfolios %}
<li class="list-group-item"><strong>Name: </strong>{{i.name}}
<p><strong>Portfolio: </strong> {{ i.portfolio.title }} 
<a class="btn btn-primary" href="{{ i.portfolio.get_absolute_url }}" role="button">View</a> </p>
</li>
{% endfor %}
</ul> {% endcomment %}
{% endblock %}