<!-- inherit from base.html -->
{% extends 'aintdoinit/base_template.html' %}
{% load color_tags %}
<!-- Replace block content in base_template.html -->
{% block content %}
  <div class="container mt-4">
    <div class="row mb-5">
      <!-- Title and buttons -->
      <div class="col-12 d-flex justify-content-between align-items-center mb-4">
        <h1>{{ product.title }}</h1>
        <div>
          <a href="{% url 'update_product' product.id %}" class="btn btn-primary">Update</a>
          <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>

      <!-- Product image and details -->
      <div class="col-md-6">
        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid" />
      </div>
      <div class="col-md-6">
        <p>
          <strong>Price:</strong> ${{ product.price }}
        </p>

        <form method="post" action="{% url 'add_to_cart' product.id %}">
          {% csrf_token %}
          <!-- Size Selector -->
          <div class="mb-3">
            <label for="sizeSelector" class="form-label">Size:</label>
            <select id="sizeSelector" name="selected_size" class="form-select">
              <option selected disabled>Select size</option>
              {% for size in available_sizes %}
                <option value="{{ size.id }}">{{ size.get_value_display }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Color Selector -->
          <div class="mb-3">
            <label class="form-label">Color:</label>
            <div class="btn-group" data-toggle="buttons">
              {% for color in available_colors %}
                <label class="btn btn-outline-secondary">
                  <input type="radio" name="selected_color" id="color{{ forloop.counter }}" autocomplete="off" value="{{ color.id }}" />
                  <span class="color-square" style="background-color: {{ color.value|color_code }};"></span> {{ color.get_value_display }}
                </label>
              {% endfor %}
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
      </div>
    </div>
  </div>

  <h2>
    Product Variations
    <a class="btn btn-primary" href="{% url 'create_variation' product.id %}" role="button">New</a>
  </h2>
  {% if variation_list %}
    <div class="container mt-4">
      <div class="row">
        {% for var in variation_list %}
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <span>
                  <h5 class="card-title" style="display: inline-block; margin-right: 10px;">Color: {{ var.color }}</h5>
                  <!-- Display color square -->
                  <div style="display: inline-block; width: 25px; height: 25px; background-color: {{ var.color.value|color_code }};"></div>
                </span>

                <h5 class="card-title">Size: {{ var.size }}</h5>
                <h5 class="card-title">Stock: {{ var.stock }}</h5>
                <a href="{% url 'update_variation' product.id var.id %}" class="btn btn-primary">Update</a>
                <a href="{% url 'delete_variation' product.id var.id %}" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <p>There are no product modifications registered.</p>
  {% endif %}
{% endblock %}

{% block custom_css %}
  <style>
    .color-square {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      vertical-align: middle;
    }
    
    .btn-outline-secondary:not(:disabled):not(.disabled).active,
    .btn-outline-secondary:not(:disabled):not(.disabled):active,
    .show > .btn-outline-secondary.dropdown-toggle {
      background-color: #fff;
      border-color: #acacac;
    }
    
    .btn.focus,
    .btn:focus,
    .btn:hover {
      outline: none;
      box-shadow: none;
    }
  </style>
{% endblock %}
